{% extends "app/mobile_base.html" %}
{% block extrahead %}
{% endblock %}

{% block content %}
    <!-- Page Content -->
    <div class="container col-xs-12">
        {% if tour %}

            <h2>{{ guide.name }}You have accepted the tour!</h2>


            <h2>Tour Details </h2>

            {% include "app/tour_info.html" %}

            <h2>These details have been sent to your e-mail: {{ guide.email }}</h2>

        {% else %}
            <h2>Sorry, somebody else already accepted the tour!</h2>
        {% endif %}
    </div>
{% endblock %}
