<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<p>You have accepted the tour!</p>
<br>
<div>
    <p><b>Tour info:</b></p>
    Ref number:15112015<br>
    Group name: Garage48<br>
    Language: english<br>
    Date: 20-11-2015<br>
    Time from: 10:00 to: 13:00<br>
    Starting point: Hotel<br>
    Ending point: Town Hall square<br>
    Tour description: Walking tour in Tallinn old town<br>
    Travel agent: Garage48 Tours<br>
</div>
</body>
</html>