{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'app/style.css' %}" />
    <title>{% block title %}Agent Organizer{% endblock %}</title>
    {% block extrahead %}{% endblock %}
</head>
<body>
{#    <div id="sidebar">#}
{#        {% block sidebar %}#}
{#        <ul>#}
{#            <li><a href="/app">Home</a></li>#}
{#            <li><a href="/app/guides">Choose Tour Guides</a></li>#}
{#        </ul>#}
{#        {% endblock %}#}
{#    </div>#}

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>