{% extends "app/../site_base.html" %}
{% load staticfiles %}
{% load render_table from django_tables2 %}
{% load i18n %}
{% block head_title %}{% trans "All Guides" %}{% endblock %}
{% block extrahead %}
    <style xmlns="http://www.w3.org/1999/html">
        body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
        }
    </style>
    <link rel="stylesheet" href="{% static "django_tables2/themes/paleblue/css/screen.css" %}"/>
{% endblock %}

{% block body %}
    <div class="container">
        <div id="content">
            <h3>{% trans "All Guides" %}</h3>
            {% if table %}
                {% render_table table %}
            {% endif %}
        </div>
    </div>
{% endblock %}
