{% extends "app/base.html" %}
{% block content %}
    <h2>Please choose guides to send SMS </h2>
    <form action="guides" method="post">
        {% csrf_token %}
        <table border="1" style="width:100%"><tr>
            <td>  <input type="checkbox" name="vehicle" value="Bike">Jill</td>
            <td>Smith</td>
            <td>50xxxxxx</td>
            <td>jill@gmail.com</td>
          </tr>
          <tr>
            <td><input type="checkbox" name="vehicle" value="Bike">Eve</td>
            <td>Jackson</td>
            <td>94xxxxxx</td>
            <td>eve@gmail.com</td>
          </tr>
           <tr>
            <td><input type="checkbox" name="vehicle" value="Bike">Bill</td>
            <td>Smith</td>
            <td>50xxxxxx</td>
            <td>bill@gmail.com</td>
          </tr>
          <tr>
            <td><input type="checkbox" name="vehicle" value="Bike">Kuno</td>
            <td>Jackson</td>
            <td>56xxxxxx</td>
            <td>kuno@gmail.com</td>
          </tr>
        </table>
          <input type="submit" value="Send SMS">
    </form>
{% endblock %}
