{% extends "app/../site_base.html" %}
{% load account_tags %}
{% load i18n %}
{% block head_title %}{% trans "Delete Guide" %}{% endblock %}

{% block body %}

    {% csrf_token %}
    <div class="container">

        <input type=button class="btn btn-warning" value="{% trans "Back" %}" onClick="javascript:history.go(-1);">

        <div id="content">
            <form action="" method="post">{% csrf_token %}
                <h3>{% trans "Are you sure you want to delete " %}{{ object.name }} ?</h3>
                <input type="submit" class="btn btn-danger" value="{% trans "Confirm" %}">
            </form>

        </div>
    </div>
{% endblock %}
