{% extends "app/../site_base.html" %}
{% load i18n %}
{% block head_title %}
    {% trans "Guides" %}
{% endblock %}

{% block extrahead %}
    <style xmlns="http://www.w3.org/1999/html">
        body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <a href="{% url 'edit_tour' tour.id %}">Back</a>

        <h2>{% trans "Please choose guides to send SMS" %}</h2>

        <form action="{% url 'send_sms' %}" method="post">
            {% if tour %}
                <input type="hidden" name="tour_id" value="{{ tour.id }}">
            {% endif %}

            {% csrf_token %}
            <table class="table table-striped">
                <thead>
                <th></th>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Phone number" %}</th>
                <th>{% trans "E-mail" %}</th>
                </thead>
                {% if guides_list %}
                    {% for guide in guides_list %}
                        <tr>
                            <td>
                                <input type="checkbox" name="guide_ids" value="{{ guide.id }}" class="checkbox-inline">
                            </td>
                            <td>{{ guide.name }}</td>
                            <td>{{ guide.phone_number }}</td>
                            <td>{{ guide.email }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </table>
            <input type="submit" class="btn btn-primary" value="{% trans "Send SMS to selected" %}">
        </form>
        <br>

        <div class="row">
            {% if tour %}

                <div class="col-xs-6 form-horizontal">

                    <h2>{% trans "Tour Details" %}</h2>

                    {% include "app/tour_content.html" %}

                </div>
            {% endif %}
            <div class="col-xs-6">
                <p><b>{% trans "SMS which will be sent to selected tour guides" %}:</b></p>
                <pre>{{ sms_text }}</pre>
            </div>
        </div>
        <br>
    </div>
{% endblock %}
