{% extends "app/base.html" %}
{% block content %}
    {% csrf_token %}
    <h2>Please fill out tour information </h2>
    <form action="guides" method="post">
        {% csrf_token %}
        Ref number: <input type="text" name="refnumber"><br>
        Group name: <input type="text" name="group_name"><br>
        Language:
        <select>
            <option value="english">---</option>
            <option value="english">english</option>
            <option value="spanish">spanish</option>
            <option value="russian">russian</option>
            <option value="finnish">finnish</option>
        </select><br>


        Date: <input type="date" name="date"><br>
        Time from: <input type="time" name="time_from"><br>
        Starting point: <input type="text" name="starting_point"><br>
        Ending point: <input type="" name="ending_point"><br>
        Optional description:<input type="text" name="optional_description"><br>
        <input type="submit" value="Submit info">
    </form>
{% endblock %}
