{% extends "app/mobile_base.html" %}
{% block extrahead %}
{% endblock %}

{% block content %}
    {% if guide_tour %}
        <!-- Page Content -->
        <div class="container col-xs-12">

            <div id="content">
                <h2 class="text-center">Tour Details </h2>

                {% include "app/tour_details.html" with tour=guide_tour.tour only %}

                <br>

                <div class="col-xs-12">
                    <h3>{{ guide_tour.guide.name }}, will you accept this job?</h3>
                </div>
                <div class="col-xs-12">
                    <br>
                </div>


                <div class="col-xs-12">
                    <form action="{% url 'answer' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="uid" value="{{ guide_tour.uid }}">
                        <input type="submit" class="btn btn-success col-xs-6" value="yes" name="answer">

                        <div class="col-xs-1"></div>
                        <input type="submit" class="btn btn-danger col-xs-4" value="no" name="answer">
                    </form>
                </div>
                <br>
                <br>
                <br>
            </div>
        </div>
    {% endif %}
{% endblock %}
