{% extends "app/guides.html" %}
{% load staticfiles %}
{% load render_table from django_tables2 %}
{% load tour_extras %}
{% load account_tags %}
{% load i18n %}
{% block head_title %}
    {% trans "Tour details" %}
{% endblock %}

{% block tour_details_area %}
    <div class="row">

        {% if tour %}

            <div class="col-xs-6 form-horizontal">

                <h3>{% trans "Tour details" %}</h3>

                {% include "app/tour_content.html" %}

            </div>
        {% endif %}
    </div>

{% endblock %}
