<html>
<table>
    <tr>
        <td>Ref number</td>
        <td>{{ tour.ref_number }}</td>
    </tr>
    <tr>
        <td>Group size</td>
        <td>{{ tour.group_size }}</td>
    </tr>
    <tr>
        <td>Group name</td>
        <td>{{ tour.group_name }}</td>

    </tr>
    <tr>
        <td>Language</td>
        <td>{{ tour.language }}</td>

    </tr>
    <tr>
        <td>Start Time</td>
        <td>{{ tour.start_time }}</td>

    </tr>
    <tr>
        <td>End Time</td>
        <td>{{ tour.end_time }}</td>

    </tr>
    <tr>
        <td>Meeting point</td>
        <td>{{ tour.meeting_point }}</td>

    </tr>
    <tr>
        <td>Ending point</td>
        <td>{{ tour.ending_point }}</td>

    </tr>
    <tr>
        <td>Tour description</td>
        <td>{{ tour.description }}</td>

    </tr>
    <tr>
        <td>Hiring company</td>
        <td>{{ user.profile.company_name }}</td>

    </tr>
    <tr>
        <td>Hiring contact person</td>
        <td>{{ user.username }}</td>

    </tr>
    <tr>
        <td>Hiring contact e-mail</td>
        <td>{{ user.email }}</td>

    </tr>
    <tr>
        <td>Hiring contact phone nr.</td>
        <td>{{ user.profile.phone_number }}</td>
    </tr>
    <tr>
        <td>Guide e-mail</td>
        <td>{{ guide.email }}</td>

    </tr>
    <tr>
        <td>Guide phone nr.</td>
        <td>{{ guide.phone_number }}</td>
    </tr>
</table>
</html>
