{% extends "app/../site_base.html" %}
{% load staticfiles %}
{% load render_table from django_tables2 %}
{% load i18n %}
{% block head_title %}
    {% trans "Tours" %}
{% endblock %}
{% block extrahead %}
    <style xmlns="http://www.w3.org/1999/html">
        body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
        }
    </style>
    <link rel="stylesheet" href="{% static "django_tables2/themes/paleblue/css/screen.css" %}"/>
{% endblock %}

{% block body %}
    <a href="/tour/add" class="btn btn-info" role="button">{% trans "Add Tour" %}</a>
    {% if table %}
        <h2>{% trans "Tours" %}</h2>
        {% render_table table %}
        <form action="" method="get">
            {{ filter.form.as_p }}
            <input type="submit" class="btn btn-primary" value="{% trans "Filter" %}">
        </form>
    {% endif %}
{% endblock %}
