{% extends "app/base.html" %}
{% block content %}
    {% csrf_token %}
    <h2>Please fill out tour information </h2>
    <form action="guides" method="post">
        {% csrf_token %}
        <label>Ref number:</label><input type="text" name="refnumber" value="15112015"><br>
        <label>Group name:</label><input type="text"  size="40" name="group_name" value="Garage48"><br>
        <label>Language:</label>
        <select>
            <option value="english">english</option>
            <option value="spanish">spanish</option>
            <option value="russian">russian</option>
            <option value="finnish">finnish</option>
            <option value="-">---</option>
        </select>
        <br>
        <label>Date:</label><input type="text" name="date" value="20-11-2015">
        <br>
        <label>Time from:</label><input type="time" name="time_from" value="10:00">
        <label>to:</label><input type="time" name="time_to" value="13:00">
        <br>
        <label>Starting point:</label><input type="text" size="40" name="starting_point" value="Hotel">
        <br>
        <label>Ending point:</label><input type="text" name="ending_point" value="Town Hall square">
        <br>
        <label>Tour description:</label><input type="text" size="100" name="optional_description" value="Walking tour in Tallinn old town"><br>
        <input type="submit" value="Submit info">
    </form>
{% endblock %}
