{% extends "app/../site_base.html" %}
{% load account_tags %}
{% block head_title %}
    Tour
{% endblock %}
{% block extrahead %}
    <style xmlns="http://www.w3.org/1999/html">
        body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
        }
    </style>
{% endblock %}

{% block body %}

    {% csrf_token %}
    <div class="container">

        <div id="content">
            <h2>Please fill out tour information </h2>

            <form action="{% url 'guides' %}" method="post"><br>
                {% csrf_token %}

                <div class="form-group" >
                    <label for="inputEmail" class="control-label col-xs-2">Ref number</label>

                    <div class="col-xs-10">
                        <input id="ref_number" type="text" name="ref_number" value="{{ ref_number }}" class="form-control" placeholder="ref number">
                    </div>


                    <label for="inputEmail" class="control-label col-xs-2">Group size</label>

                    <div class="col-xs-10">
                        <input id="group_size" type="number" name="group_size" value="{{ group_size }}" class="form-control" placeholder="group size">
                    </div>


                    <label for="inputEmail" class="control-label col-xs-2">Language</label>

                    <div class="col-xs-10">
                        <input id="language" type="text" name="language" value="{{ language }}" class="form-control" placeholder="group language">
                    </div>


                    <label for="inputEmail" class="control-label col-xs-2">Start time</label>

                    <div class="col-xs-10">
                        <input id="start_time" type="datetime-local" name="start_time" value="{{ start_time }}" class="form-control" placeholder="start time">
                    </div>

                    <label for="inputEmail" class="control-label col-xs-2">End time</label>

                    <div class="col-xs-10">
                        <input id="end_time" type="datetime-local" name="end_time" value="{{ end_time }}" class="form-control" placeholder="end time">
                    </div>

                    <label for="inputEmail" class="control-label col-xs-2">Meeting point</label>

                    <div class="col-xs-10">
                        <input id="meeting_point" type="text" name="meeting_point" value="{{ meeting_point }}" class="form-control" placeholder="meeting point">
                    </div>

                    <label for="inputEmail" class="control-label col-xs-2">Ending point</label>

                    <div class="col-xs-10">
                        <input id="ending_point" type="text" name="ending_point" value="{{ ending_point }}" class="form-control" placeholder="ending point">
                    </div>

                    <label for="inputEmail" class="control-label col-xs-2">Tour description:</label>

                    <div class="col-xs-10">
                        <input id="description" type="text" name="description" value="{{ description }}" class="form-control" placeholder="tour description">

                    <br><br>
                </div>

                <input type="submit" class="btn btn-success" value="Submit info">
            </form>

        </div>
        <!-- /.row -->

    </div>
{% endblock %}
